efficientnet==1.0.0b2
GDAL==2.2.2
ogr
osr
image-classifiers==1.0.0b1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1z.0.9
matplotlib==2.2.3
numpy==1.15.0
opencv-python==3.4.7.28
scikit-image==0.15.0
scikit-learn==0.19.2
tensorboard==1.9.0
tensorflow-gpu==1.9.0
tensorflow-tensorboard==0.4.0
PyQt5==5.15.1  # install mannually
pydensecrf==1.0rc3
classification_models==0.1
pandas
tqdm

